/*
 * Copyright (c) 2019, Entgra (pvt) Ltd. (http://entgra.io) All Rights Reserved.
 *
 * Entgra (pvt) Ltd. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg) scale(1.0);
    }
    100% {
        -moz-transform: rotate(360deg) scale(0.1);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg) scale(1.0);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(0.1);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg) scale(1.0);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(0.1);
        transform: rotate(360deg) scale(0.1);
    }
}

.login .background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
    animation: spin 200s infinite linear;
}

.login .content {
    position: relative;
    z-index: 1;
}